<center>
    <img src="imagens/logo_APL.png" width="300" alt="APL logo"  />
</center>

# Introdução à Linguagem `Python`
**Bem vindo!** Neste material vamos apresentar conceitos básicos da linguagem `Python`. Ao final desse módulo espera-se que você seja capaz de **Jupyter Notebooks**. Ao final, espera-se que você esteja familiarizado com as funcionalidades básicas desse ambiente, incluindo:
i) trabalhar com vários tipos de dadosç ii) fazer a conversão entre diferentes tipos de dados; e iii) usar expressões e variáveis.

<h2>Conteúdo</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            Tipos de objetos em Python:
            <ul>
                <li>Inteiros</li>
                <li>Floats</li>
                <li>Tipo de dado booleano</li>
            </ul>
        </li>
        <li>
            Converter de um tipo de objeto em um tipo de objeto diferente
        </li>
        <li>
            Expressões e Variáveis:
            <ul>
                <li>Expressões</li>
                <li>Variáveis</li>
            </ul>
        </li>
    </ul>
</div>

<hr>

# Tipos de objetos em Python

<p> Python é uma linguagem orientada a objetos. Existem muitos tipos diferentes de objetos em Python. Vamos começar com os tipos de objetos mais comuns: <i> strings </i>, <i> inteiros </i> e <i> flutuantes </i>. Sempre que você escreve palavras (texto) em Python, está usando <i> strings de caracteres </i> (strings para abreviar). Os números mais comuns, por outro lado, são <i> inteiros </i> (por exemplo, -1, 0, 100) e <i> flutuantes </i>, que representam números reais (por exemplo, 3,14, -42,0). </p>

<a align="center">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/TypesObjects.png" width="600">
</a>

<p> As células de código a seguir contêm alguns exemplos. </p>

In [ ]:
# Inteiro

11

In [ ]:
# Float

2.14

In [ ]:
# String

"Hello, Python 101!"

<p> Você pode fazer com que o Python informe o tipo de uma expressão usando a função interna <code> type()</code>. Você notará que Python se refere a inteiros como <code> int</code>, flutuantes como <code> float</code> e cadeias de caracteres como <code> str</code>. </p>

In [ ]:
# Tipo do número 12

type(12)

In [ ]:
# Tipo do número 2.14

type(2.14)

In [ ]:
# Tipo da frase "Hello, Python 101!"

type("Hello, Python 101!")

<p> Na célula de código abaixo, use a função <code> type()</code> para verificar o tipo de objeto de <code> 12.0</code>.

In [ ]:
# Escreva seu código abaixo. Não se esqueça de pressionar Shift + Enter para executar a célula

<details><summary>Clique aqui para ver a solução</summary>

```python
type(12.0)

```

</details>

## Inteiros

<p> Aqui estão alguns exemplos de inteiros. Os inteiros podem ser números negativos ou positivos: </p>

<a align="center">
    <img src="imagens/TypesInt.png" width="600">
</a>

<p> Podemos verificar esse é o caso usando, você adivinhou, a função <code> type () </code>:

In [ ]:
# Escreva o tipo de -1

type(-1)

In [ ]:
# Escreva o tipo de 4

type(4)

In [ ]:
# Escreva o tipo de 0

type(0)

## Floats

<p> Floats representam números reais; eles são um superconjunto de números inteiros, mas também incluem "números com decimais". Existem algumas limitações quando se trata de máquinas que representam números reais, mas os números de ponto flutuante são uma boa representação na maioria dos casos. Você pode aprender mais sobre as especificações de floats para seu ambiente de execução, verificando o valor de <code> sys.float_info</code>. Isso também informará qual é o maior e o menor número que pode ser representado com eles. </p>

<p> Mais uma vez, pode testar alguns exemplos com a função <code> type()</code>:

In [2]:
# Escreva o tipo de 1.0

type(1.0) # Perceba que 1 é int, e 1.0 é float

float

In [3]:
# Escreva o tipo de 0.5

type(0.5)

float

In [4]:
# Escreva o tipo de 0.56

type(0.56)

float

In [5]:
# Configurações sobre o tipo float

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

<h3 id="bool">Tipo de dados booleano</h3>

<p> <i>Booleano</i> é outro tipo importante em Python. Um objeto do tipo <i>Booleano</i> pode assumir um de dois valores: <code>True</code> ou <code>False</code>: </p>

In [ ]:
# Valor verdadeiro

True

<p> Observe que o valor <code>True</code> possui um "T" maiúsculo. O mesmo é verdadeiro para <code>False</code> (ou seja, você deve usar "F" maiúsculo). </p>

In [ ]:
# Valor falso
False

<p> Quando você pede ao Python para exibir o tipo de um objeto booleano, ele mostra <code> bool </code> que significa <i> boolean</i>: </p>

In [ ]:
# Tipo de True

type(True)

In [ ]:
# Tipo de False

type(False)

# Converter de um tipo de objeto em um tipo de objeto diferente

<p> Você pode alterar o tipo do objeto em Python; isso é chamado de typecasting. Por exemplo, você pode converter um <i> inteiro </i> em um <i> flutuante </i> (por exemplo, 2 para 2.0). </p>
<p> Vamos tentar: </p>

In [6]:
# Verificando que isso é um inteiro

type(2)

int

#### Conversão de inteiros em flutuantes 
Vamos converter o inteiro 2 em flutuante:

In [ ]:
# Converte 2 para float

float(2)

In [7]:
# Converte inteiro 2 para float e verifica seu tipo

type(float(2))

float

<p> Quando convertemos um inteiro em um float, não alteramos realmente o valor (ou seja, o significando) do número. No entanto, se convertermos um float em um inteiro, podemos perder algumas informações. Por exemplo, se convertermos o float 1.1 em inteiro, obteremos 1 e perderemos as informações decimais (ou seja, 0.1): </p>

In [8]:
# Converter 1.1 para integer resulta em perda de informação

int(1.1)

1

<h4>Convertendo de strings para inteiros ou floats</h4>

<p> Às vezes, podemos ter uma string que contém um número dentro dela. Se for esse o caso, podemos converter aquela string que representa um número em um inteiro usando <code> int()</code>: </p>

In [9]:
# Converte uma string em um inteiro

int('1')

1

<p> Mas se tentar fazer isso com uma string que não é uma correspondência perfeita para um número, você obterá um erro. Experimente o seguinte: </p>

In [ ]:
# Converte uma string em um inteiro com erro

int('1 or 2 people')

<p> Você também pode converter strings contendo números de ponto flutuante em objetos <i> float </i>: </p>

In [ ]:
# Converte a string "1.2" em um float

float('1.2')

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Dica:] Observe que as strings podem ser representadas com aspas simples (<code>'1.2'</code>) ou aspas duplas (<code>"1.2"</code>), mas você não pode misturar as duas (por exemplo, <code>"1,2'</code>).
</div>
<hr/>

<h4>Convertendo números em strings</h4>

<p> Se podemos converter strings em números, é natural supor que podemos converter números em strings, certo? </p>

In [ ]:
# Converte um int em uma string

str(1)

<p> E não há razão pela qual não devamos ser capazes de transformar floats em strings também: </p>

In [ ]:
# Converte um float em uma string

str(1.2)

### Convertendo variáveis booleanas

<p> Podemos lançar objetos booleanos para outros tipos de dados. Se convertermos um booleano com valor <code> True</code> em um inteiro ou float, obteremos um. Se convertermos um booleano com valor <code> False</code> em um inteiro ou float, obteremos um zero. Da mesma forma, se convertermos um 1 em um Booleano, você obterá um <code> True</code>. E se convertermos um 0 em um Booleano, obteremos um <code> False</code>. Vamos tentar: </p>

In [ ]:
# Converte True para int

int(True)

In [ ]:
# Converte 1 para booleamp

bool(1)

In [ ]:
# Converte 0 para booleano

bool(0)

In [ ]:
# Converte True para float

float(True)

<hr>

# Expressões e Variáveis

## Expressões

<p> As expressões em Python podem incluir operações entre tipos compatíveis (por exemplo, inteiros e floats). Por exemplo, operações aritméticas básicas, como adicionar vários números: </p>

In [ ]:
# Adição

43 + 60 + 16 + 41

<p> Podemos realizar operações de subtração usando o operador menos. Neste caso, o resultado é um número negativo: </p>

In [ ]:
# Subtração

50 - 60

<p> Podemos fazer multiplicação usando um asterisco: </p>

In [ ]:
# Multiplicação

5 * 5

<p> Também podemos realizar a divisão com a barra: </p>

In [ ]:
# Divisão

25 / 5

In [ ]:
# Divisão

25 / 6

<p> Como visto no questionário acima, podemos usar a barra dupla para a divisão inteira, onde o resultado é arredondado para o número inteiro mais próximo: </p>

In [11]:
# Divisão inteira

25 // 5

5

In [ ]:
# Divisão inteira

25 // 6

## Variáveis

<p> Assim como com a maioria das linguagens de programação, podemos armazenar valores em <i> variáveis</i>, para que possamos usá-los mais tarde. Por exemplo: </p>

In [1]:
# Armazena valor em variável

x = 43 + 60 + 16 + 41

<p> Para ver o valor de <code> x</code> em um Notebook, podemos simplesmente colocá-lo na última linha de uma célula: </p>

In [2]:
# Escreve o valor da variável

x

160

<p> Também podemos realizar operações em <code> x </code> e salvar o resultado em uma nova variável: </p>

In [ ]:
# Use outra variável para armazenar o resultado da operação entre a variável e o valor

y = x / 60
y

<p> Se salvarmos um valor em uma variável existente, o novo valor substituirá o valor anterior: </p>

In [ ]:
# Sobrescreve variável com novo valor

x = x / 60
x

<p> É uma boa prática usar nomes de variáveis significativos, para que você e outras pessoas possam ler o código e entendê-lo com mais facilidade: </p>

In [ ]:
# Nomeie as variáveis de forma significativa

total_min = 43 + 42 + 57 # Duração total dos álbuns em minutos
total_min

In [ ]:
# Nomeie as variáveis de forma significativa

total_horas = total_min / 60 # Duração total dos álbuns em horas
total_horas

<p> Nas células acima, adicionamos a duração de três álbuns em minutos e os armazenamos em <code> total_min</code>. Em seguida, dividimos por 60 para calcular a duração total <code> total_horas</code> em horas. Você também pode fazer tudo de uma vez em uma única expressão, contanto que use parênteses para adicionar a duração do álbum antes de dividir, conforme mostrado abaixo. </p>

In [ ]:
# Expressão complicada

total_horas = (43 + 42 + 57) / 60  # Duração total em horas
total_horas

<p> Se você preferir ter o total de horas como um número inteiro, você pode, é claro, substituir a divisão de ponto flutuante pela divisão de número inteiro (ou seja, <code> //</code>). </p>

<hr>

### Direitos Autorais

[APL Data Intelligence](https://linktr.ee/APLdataintelligence)&#8482;  2021. Este notebook Python e seu código fonte estão liberados sob os termos da [Licença do MIT](https://bigdatauniversity.com/mit-license/).